/*==============IMPORT start ============= */



/*--------Base start-----------*/
@import './base/__reset';
@import './base/__normalize';
@import './base/_fonts';
/*--------Base end-----------*/



/*-------- Utils - Variables start-----------*/
@import './utils/__variables';
@import './utils/__root';
/*-------- Utils - Variables end-----------*/



/*--------Vendors start-----------*/
//@import './vendors/_material-icons'; 
@import './vendors/__bootstrap.min';
@import './vendors/__vendor-colors';
/*--------Vendors end-----------*/


/*--------Components start-----------*/
//@import './vendors/_material-icons';
//@import './components/__all';      
@import './components/__buttons';
@import './components/__componentes.min';  
@import './components/__dropdown';
@import './components/__keyframes';             
@import './components/__fancybox';
@import './components/__jquery.fancybox.min';
@import './components/__owl.carousel.min';
@import './components/__owl-carousel-custom';
@import './components/__banner-carousel';
@import './components/__slick';
@import './components/__badge';
@import './components/__alert';
@import './components/__destaque-carousel';
@import './components/__breadcrumb';
@import './components/__switcher';
/*--------Components end-----------*/


/*--------Scrollbar start-----------*/              
@import './layout/__scrollbar';
@import './layout/__selection';
/*--------Scrollbar end-----------*/


/*--------Layout start-----------*/              
@import './layout/__scrollbar';
@import './layout/__selection';
@import './layout/__backgrounds';
@import './layout/__sidebar';
@import './layout/__footer';
@import './layout/__header';
@import './layout/__forms';
/*--------Layout end-----------*/


/*--------Pages start-----------*/              
@import './pages/__sitemap';
@import './pages/__404';
@import './pages/__products';
/*--------Pages end-----------*/



/*==============IMPORT end ============= */






/* Template Name: Novo /Lista - Soluções Industriais 
     Author: Kaue Dias
     E-mail: kaue.dias@idealtrends.com.br
     Created: May 2020
     Version: 1.0
     Updated: July 2020
*/

/* Node-Sass and 7-1 Pattern Implementation
     Author: Marcelo Serra
     E-mail: marcelo.serra@solucoesindustriais.com.br
     Implemented: October 2020
     Version: 2.1
*/

/*********************************/


/* INDEX */


/*================================
    **01.Variables
    **02.Bootstrap Custom
    **03.Components
    **04.General
    **05.Helper
    **06.Menu
    ** slider
    **07.Home / Landing
    **08.Features / Services
    **09.Testimonial
    **10.Price
    **11.C.T.A
    **12.Blog / Careers / Job 
    *13.Work / Projects
    **14.Team
    **15.User Pages
    **16.Countdown
    **17.Contact
    **18.Footer
     *
     ================================*/


.modal{
    box-sizing: unset !important;
}

.bootstrap-plugin .btn-contato{
    width: 100px !important;
}

.bootstrap-plugin .modal-footer a.btn-primary{
    color: #fff !important;
}

body{
    background: var(--bg-general) !important;
}

div{
    box-sizing: border-box;
}

b, strong {
    color: var(--text-default);
}

nav>div a.nav-item.nav-link.active {
    background: var(--bg-primary);
    border: var(--bg-primary);
}

/* .card-body{
    background: var(--bg-general) !important;
} */

.logo-img{
    width: 122px;
    height: 74px;
}

nav>div a.nav-item.nav-link:hover, nav>div a.nav-item.nav-link:focus {
    background: lighten($bg-primary, 10%);
}

.tab-content {
    background: var(--bg-general);
    border: 1px solid rgba(0,0,0,0.125);
    border-top: 3px solid var(--bg-primary);
    border-bottom: 2px solid var(--bg-primary);
}

.jumbotron{
    background: var(--bg-general) !important;
}



.text-primary {
    color: var(--text-primary);
}


.modal-cont[_ngcontent-rwn-c1] .modal .modal-footer {
    height: 70px !important;
}

.thumbnails-2 {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0;
}

.thumbnails-2>li {
    max-width: 30%;
    max-height: 100%;
    width: 400px;
    height: 400px;
    margin: 3rem 0;
    background: var(--bg-primary);
    border-radius: 5px;
    box-shadow: 4px 8px 10px #cecece;
    transition: all .5s;
}



.thumbnails-2>li:hover{
    opacity: .8;
    transition: all .5s;
}

.thumbnails-2 li img {
    max-width: 100%;
    max-height: 100%;
    width: 400px;
    height: 300px;
    border-radius: 5px;
}

.thumbnails-2 div {
    max-width: 100%;
    width: 400px;
    height: 100px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
}

.thumbnails-2 h2 {
    max-width: 100%;
    font-size: 1.1rem;
    text-align: center;
    color: #fff;
}

@media (max-width: 576px) {
    .thumbnails-2 {
        justify-content: center;
    }
    .thumbnails-2>li {
        max-width: 100%;
    }
    .thumbnails-2 h2 {
        padding: .8rem;
    }
}



.text-primary {
    color: var(--bg-primary) !important;
}

a.text-primary:hover,
a.text-primary:focus {
    color: #284bc1 !important;
}



.text-secondary {
    color: #5a6d90 !important;
}

a.text-secondary:hover,
a.text-secondary:focus {
    color: #506180 !important;
}



.text-success {
    color: #2eca8b !important;
}

a.text-success:hover,
a.text-success:focus {
    color: #29b57d !important;
}

.text-warning {
    color: #f17425 !important;
}

a.text-warning:hover,
a.text-warning:focus {
    color: #ed650f !important;
}



.text-info {
    color: #17a2b8 !important;
}

a.text-info:hover,
a.text-info:focus {
    color: #148ea1 !important;
}



.text-danger {
    color: #e43f52 !important;
}

a.text-danger:hover,
a.text-danger:focus {
    color: #e1293e !important;
}



.text-dark {
   color: var(--text-default) !important;
}

a.text-dark:hover,
a.text-dark:focus {
    color: #323c49 !important;
}



.text-muted {
    color: var(--text-muted) !important;
}

a.text-muted:hover,
a.text-muted:focus {
    color: #75859b !important;
}



.text-light {
    color: var(--text-light) !important;
}

a.text-light:hover,
a.text-light:focus {
    color: #e6eaf4 !important;
}


.text-blue {
    color: var(--bg-primary) !important;
}

a.text-blue:hover,
a.text-blue:focus {
    color: #284bc1 !important;
}


.text-footer {
    color: var(--bg-third) !important;
}

a.text-footer:hover,
a.text-footer:focus {
    color: #181e30 !important;
}

.list-inline-item:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 5px;
}

.rounded {
    border-radius: 6px !important;
}

.rounded-top {
    border-top-left-radius: 6px !important;
    border-top-right-radius: 6px !important;
}

.rounded-left {
    border-top-left-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
}

.rounded-bottom {
    border-bottom-left-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
}

.rounded-right {
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
}

.border {
    border: 1px solid #e9ecef !important;
}

.border-top {
    border-top: 1px solid #e9ecef !important;
}

.border-bottom {
    border-bottom: 1px solid #e9ecef !important;
}

.border-left {
    border-left: 1px solid #e9ecef !important;
}

.border-right {
    border-right: 1px solid #e9ecef !important;
}

.small,
small {
    font-size: 90%;
}

.card .card-body {
    padding: 1.5rem;
}

.component-wrapper .title {
    font-size: 20px;
}

.component-wrapper.sticky-bar li {
    margin-bottom: 6px;
}

.component-wrapper.sticky-bar li:last-child {
    margin-bottom: 0px !important;
}

.component-wrapper.sticky-bar li a {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.component-wrapper.sticky-bar li a:hover,
.component-wrapper.sticky-bar li a:focus {
    color: var(--bg-primary) !important;
}


.page-next-level .title {
    font-size: 28px;
    letter-spacing: 1px;
}

.page-next-level .page-next {
    position: relative;
    top: 110px;
    z-index: 99;
}



.pagination .page-item:first-child .page-link {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.pagination .page-item:last-child .page-link {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.pagination .page-item .page-link {
   color: var(--text-default);
    border: 1px solid #dee2e6;
    padding: 10px 15px;
    font-size: 14px;
}

.pagination .page-item .page-link:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.pagination .page-item .page-link:hover {
    color: #ffffff;
    background: rgba(47, 85, 212, 0.9);
    border-color: rgba(47, 85, 212, 0.9);
}

.pagination .page-item.active .page-link {
    color: #ffffff;
    background: var(--bg-primary) !important;
    border-color: var(--bg-primary);
    cursor: not-allowed;
}

.avatar {
    filter: grayscale(60%);
    transition: .2s ease;
}

.avatar:hover {
    filter: grayscale(0%);
}

.avatar.avatar-ex-sm {
    max-height: 25px;
}

.avatar.avatar-md-sm {
    height: 45px;
    width: 45px;
}

.avatar.avatar-small {
    height: 65px;
    width: 65px;
}

.avatar.avatar-medium {
    height: auto;
    width: 110px;
}

.avatar.avatar-large {
    height: 140px;
    width: 140px;
}

.avatar.avatar-ex-large {
    height: 180px;
    width: 180px;
}

.faq-container .question {
    font-size: 20px;
}

.faq-content .card .faq .card-header {
    padding-right: 40px !important;
}

.faq-content .card .faq .card-header.card-header-2 {
    border-bottom: 0;
}

.faq-content .card .faq .card-header.card-header-2 .faq-question {
    font-size: 18px;
}

.faq-content .card a.faq[data-toggle=collapse] {
    background: var(--bg-general);
    color: var(--bg-primary);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.faq-content .card a.faq[data-toggle=collapse]:before {
    content: '\F143';
    display: block;
    font-family: 'Material Design Icons';
    font-size: 18px;
   color: var(--text-default);
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.faq-content .card a.faq[data-toggle=collapse].collapsed {
    background: var(--bg-general);
   color: var(--text-default) !important;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

.faq-content .card a.faq[data-toggle=collapse].collapsed:before {
    top: 20px;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
   color: var(--text-default) !important;
}

.faq-content .card .title {
    font-size: 18px;
}

.nav-pills {
    margin-bottom: 15px;
    background: #f4f6fa;
}

.nav-pills .nav-link {
    color: #495057 !important;
    padding: 5px;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.nav-pills .nav-link.active {
    background: var(--bg-primary);
    color: #ffffff !important;
}

.nav-pills .nav-link.active .tab-para {
    color: var(--text-light) !important;
}

.nav-pills a .title {
    font-size: 17px;
    font-weight: 700;
}

.progress-box .title {
    font-size: 15px;
}

.progress-box .progress {
    height: 8px;
    overflow: visible;
}

.progress-box .progress .progress-bar {
    border-radius: 6px;
    -webkit-animation: animate-positive 3s;
    animation: animate-positive 3s;
    overflow: visible !important;
}

.progress-box .progress .progress-value {
    position: absolute;
    top: -25px;
    right: -15px;
    font-size: 13px;
}



.blockquote {
    border-left: 3px solid #dee2e6;
    border-radius: 6px;
    font-size: 16px;
}


.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table-responsive .table td,
.table-responsive .table th {
    vertical-align: middle;
}

.table-responsive .table-center th {
    vertical-align: middle !important;
    cursor: pointer;
}

.table-responsive .table-center tbody tr:hover {
   color: var(--text-default);
    background-color: #f8f9fa;
}

.table-responsive .table-center.invoice-tb th,
.table-responsive .table-center.invoice-tb td {
    text-align: end;
}

.modal-open {
    padding-right: 0 !important;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(45deg, #ffffff, #ffffff);
    z-index: 9999999;
}

#preloader #status {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#preloader #status .spinner {
    width: 40px;
    height: 40px;
    position: relative;
    margin: 100px auto;
}

#preloader #status .spinner .double-bounce1,
#preloader #status .spinner .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--bg-primary);
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

#preloader #status .spinner .double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}


.social-icon li a {
   color: var(--text-default);
    border: 1px solid #3c4858;
    display: inline-block;
    height: 32px;
    width: 32px;
    line-height: 28px;
    text-align: center;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    overflow: hidden;
    position: relative;
}

.social-icon li a .fea-social {
    stroke-width: 2;
}

.social-icon li a:hover {
    background-color: var(--bg-primary);
    border-color: var(--bg-primary) !important;
    color: #ffffff !important;
}

.social-icon li a:hover .fea-social {
    fill: var(--bg-primary);
}

.social-icon.social li a {
    color: #adb5bd;
    border-color: #adb5bd;
}

.back-to-top {
    z-index: 99;
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 32px;
    height: 32px;
    line-height: 30px;
    display: none;
   color: var(--text-default);
    background-color: #ced4da;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
    box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
}

.back-to-top .icons {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    stroke-width: 2;
    height: 14px;
    width: 14px;
}

.back-to-top:hover {
    background-color: var(--bg-primary) !important;
    color: #ffffff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.back-to-top:hover .icons {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.back-to-home {
    position: absolute;
    top: 4%;
    right: 2%;
    z-index: 1;
}

.back-to-home a {
    width: 40px;
    height: 40px;
    line-height: 36px;
    background: var(--bg-primary);
}

.sticky-bar {
    position: -webkit-sticky;
    position: sticky;
    top: 80px;
}

.fea {
    stroke-width: 1.8;
}

.fea.icon-sm {
    height: 16px;
    width: 16px;
}

.fea.icon-ex-md {
    height: 20px;
    width: 20px;
}

.fea.icon-m-md {
    height: 28px;
    width: 28px;
}

.fea.icon-md {
    height: 35px;
    width: 35px;
}

.fea.icon-lg {
    height: 42px;
    width: 42px;
}

.fea.icon-ex-lg {
    height: 52px;
    width: 52px;
}

.display-1 {
    font-size: 80px !important;
}

.display-2 {
    font-size: 72px !important;
}

.display-3 {
    font-size: 64px !important;
}

.display-4 {
    font-size: 56px !important;
}

.d-video {
    display: block
}

@media (max-width: 768px) {
    .box-flutuante {
        position: fixed!important;
        right: 4px!important;
        bottom: 4px!important;
        width: 98%!important;
        top: unset!important;
        z-index: 9999999999999999999999!important;
    }
    .d-video {
        display: none
    }
    .btn-leia {
        content: "Leia Mais";
        height: 26px;
        background: transparent;
        width: 100px;
        color: #333;
        border-radius: .24rem;
        text-align: center;
        position: absolute;
        bottom: 20px;
        cursor: pointer;
        z-index: 999;
        left: 35%;
    }
    .btn-ocultar {
        height: 26px;
        background: transparent;
        width: 100px;
        color: #333;
        border-radius: .24rem;
        text-align: center;
        position: absolute;
        bottom: 20px;
        cursor: pointer;
        z-index: 999;
        left: 35%;
        display: none;
    }
    .page-next-level .page-next {
        top: 70px;
    }
    .display-1 {
        font-size: 56px !important;
    }
    .display-2 {
        font-size: 50px !important;
    }
    .display-3 {
        font-size: 42px !important;
    }
    .display-4 {
        font-size: 36px !important;
    }
}

body {
    font-family: var(--font-default), sans-serif;
    overflow-x: hidden !important;
    font-size: 16px;
   color: var(--text-default);
}

div.row hr:last-child {
    display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: var(--font-default), sans-serif;
    line-height: 1.5;
    font-weight: 600;
}



a {
    text-decoration: none !important;
}

p {
    line-height: 1.6;
}

div.col-lg-3.py-4.col-md-4.col-sm-12 a img {
    width: 90%;
}

.section {
    padding: 100px 0;
    position: relative;
}

.section-two {
    padding: 60px 0;
    position: relative;
}



.title-heading {
    line-height: 26px;
}

.title-heading .heading {
    font-size: 45px;
    letter-spacing: 1px;
}

.title-heading .para-desc {
    font-size: 18px;
}

.section-title {
    position: relative;
}

.section-title .title {
    letter-spacing: 0.5px;
    font-size: 30px;
}

.text-shadow-title {
    text-shadow: 2px 0 0 #ffffff, -2px 0 0 #ffffff, 0 4px 0 rgba(255, 255, 255, 0.4), 0 -2px 0 #ffffff, 1px 1px #ffffff, -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff;
}

.para-desc {
    max-width: 600px;
}

.mt-100 {
    margin-top: 100px;
}

.shape {
    position: absolute;
    pointer-events: none;
    right: 0;
    bottom: -3px;
    left: 0;
}

.shape>svg {
    -webkit-transform: scale(2);
    transform: scale(2);
    width: 100%;
    height: auto;
    -webkit-transform-origin: top center;
    transform-origin: top center;
}

.mover {
    -webkit-animation: mover 1s infinite alternate;
    animation: mover 1s infinite alternate;
}



@media (min-width: 768px) {
    .margin-top-100 {
        margin-top: 100px;
    }
    .margin-top-100 .heading {
        font-size: 40px;
    }
}

@media (max-width: 768px) {
    .section {
        padding: 60px 0;
    }
    .title-heading .heading {
        font-size: 35px !important;
    }
    .title-heading .para-desc {
        font-size: 18px;
    }
    .section-title .title {
        font-size: 24px;
    }
    .mt-60 {
        margin-top: 60px;
    }
}

@media (max-width: 767px) {
    .shape {
        bottom: -4px;
    }
}



@media (max-width: 768px) {
    .jumbotron {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }
    
}
.slick-slider {
    overflow-x: hidden !important;
    cursor: pointer;
}


.busca-fix {
    display: flex;
    width: 100%;
    align-items: center;
    height: auto;
    padding: 0 15px;
}
.busca-fix b {
    width: 16%
}
.busca-fix div {
flex-wrap:nowrap
}
.busca-fix strong.d-none {
    width:15%;
    font-size: .8em;
    color:#343434
}
.busca-fix strong.d-block {
    width:100%;
    font-size: .8em;
    color:#343434
}
.busca-fix ul {
    display:flex;
    width:100%;
    justify-content: flex-start;
    align-items:center;
    padding:0;
    font-size: 0.58em;
    margin: 0;
    padding: 0!important;
}
.busca-fix ul li {
    display:flex;
    padding: 0 5px;
    align-items: center;
    font-size: 1.4em;
}
.busca-fix ul li a {
    color: var(--bg-primary)!important;
}


@media (max-width: 768px) {
    div.p-3.shadow.text-center.h-100.d-inline-block.nova-api {
        width: 100%
    }
    .cd-hero-slider {
        padding: 0;
    }
    .busca-fix {
        display: block;
    }
    .busca-fix p {
        margin: 0;
    }
    .busca-fix ul {
        max-width: 70%;
        flex-wrap: wrap;
        height: auto;
        overflow: hidden;
        margin: 0px!important;
        padding-top: 0px!important;
    }
    .busca-fix ul li {
        width: 50%;
        padding: 0;
        justify-content: flex-start;
    }
    .stitulo {
        color: #fff;
        font-size: 2.4em;
        text-shadow: 1px 1px 1px rgb(0, 0, 0);
    }
    div.col-lg-3.col-md-4.col-sm-12 a img {
        width: 100%;
        object-fit: cover;
        padding: 10px;
    }
    div.col-lg-9.col-md-8.col-sm-12.nova-api p {
        line-height: 1.5em;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }
}
.formulario-lado {
    background-color: #fff;
    border: 1px solid rgba(0,
    0,
    0,
    .125);
}

/*Leia Mais*/
.LeiaMais {
    max-height: 250px;
    overflow: hidden;
    padding-bottom: 60px!important;
    margin-bottom: 10px;
}
.leia {
    min-height: 108px;
    background: var(--bg-general);
    filter: blur(12px);
    position: absolute;
    bottom: -34px;
    width: 950px!important;
    right: -55px;
}


.border-intro {
    border: 1px solid rgba(0,
    0,
    0,
    .125);
}
.box-flutuante {
    height: 150px;
    width: 100%;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,
    0,
    0,
    .125);
    border-radius: .25rem;
    position: sticky;
    right: 8.8%;
    top: 100px;
    display: flex;
    flex-direction: column;
    z-index: 99;
    justify-content: center;
    align-items: center;
}
.box-flutuante h3 {
    font-size: 1.25em;
    text-align: center;
    padding: 20px 5px;
}
.box-flutuante button {
    margin-bottom:10px;
    width: 100%;
}
div.col-lg-9.col-md-8.col-sm-12.nova-api {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    text-align: left;
}
div.col-lg-9.col-md-8.col-sm-12.nova-api h2,
h3 {
    width:100%;
    text-align: left;
    text-transform: uppercase;
}
div.col-12.px-0.py-4.carousel-mpi.m-0.row div.col-10.col-md-4 {
    max-width: 34%;
}

.content-wrapper {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.controls {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}




div.col-lg-5.col-md-6.order-1.order-md-2 img{
    height: 320px;
    object-fit: contain;
}

div.col-lg-6.col-md-6 img.mw-100{height: 320px;object-fit: contain;}


div.col-12.mt-5.pt-5.pb-2.text-center div img{height: 370px;}
div.row.section-title.mb-4{
    display: flex;
    align-items: center;
    justify-content: center;
}



.submenu-single{
    width: 300px;
    overflow-y: scroll;
    height: 45vh;
    left: 0;
}

@media(max-width: 992px){
    .submenu-single{
        height: auto;
        overflow-y: unset;
        width: 100%;
    }
}


