/*Slider*/

i.far, i.fas {
    color: var(--text-light) !important;
    min-width: 21px;
    text-align: center;
}

.cd-hero {
    max-width: 100vw;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.cd-hero-slider {
    position: relative;
    height: 370px;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.cd-hero-slider li {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%)
}

.cd-hero-slider li.selected {
    position: relative;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0)
}

.cd-hero-slider li.move-left {
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%)
}

.cd-hero-slider li.is-moving,
.cd-hero-slider li.selected {
    -webkit-transition: -webkit-transform .5s;
    -moz-transition: -moz-transform .5s;
    transition: transform .5s
}

@media only screen and (min-width:768px) {
    .cd-hero-slider {
        height: 400px
    }
}

@media only screen and (min-width:1170px) {
    .cd-hero-slider {
        display: flex;
        height: 100vh;
        align-items: center;
        justify-content: center;
        width: 100vw;
        margin: 0 auto;
        list-style: none;
        padding: 0;
    }
}

.cd-hero-slider li {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cd-hero-slider li:first-of-type {
    background-color: #fff;
    background-position: center;
    background-image: url(../imagens/banner/slider-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* width: 100vw; */
    /* height: 100vh; */
}

.cd-hero-slider li:nth-of-type(2) {
    background-color: #fff;
    background-position: center;
    background-image: url(../imagens/banner/slider-2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.cd-hero-slider li:nth-of-type(3) {
    background-color: #fff;
    background-position: center;
    background-image: url(../imagens/banner/slider-3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.cd-hero-slider .cd-full-width,
.cd-hero-slider .cd-half-width {
    position: absolute;
    width: 100%;
    max-width: 1140px;
    box-sizing: border-box;
    padding: 100px 10px 0;
    height: 100%;
    z-index: 1;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
    text-align: center;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

.cd-hero-slider .cd-img-container {
    display: none
}

.cd-hero-slider .cd-img-container img {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%)
}

.cd-hero-slider .cd-bg-video-wrapper {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.cd-hero-slider .cd-bg-video-wrapper video {
    display: block;
    min-height: 100%;
    min-width: 100%;
    max-width: none;
    height: auto;
    width: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%)
}

.cd-hero-slider h2,
.cd-hero-slider p {
    line-height: 1.2;
    margin: 0;
    width: 75%;
}

.cd-hero-slider h2{
    color: var(--text-slider-header) !important;
}

.cd-hero-slider p{
    color: var(--text-slider-paragraph) !important;
}

.cd-hero-slider h2 {
    font-size: 2.4rem;
    text-shadow: 1px 1px 2px #000000;
}

.cd-hero-slider p {
    font-size: 1.4rem;
    line-height: 1.4
}

.cd-hero-slider .cd-btn {
    text-decoration: none;
    display: inline-block;
    padding: .7em 3.4em;
    margin-top: .8em;
    background-color: #fff;
    font-size: 1.3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--bg-primary-light);
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    transition: background-color .2s;
    font-weight: 700;
    transition: ease-in-out .2s;
    border-radius: 6px;
    border: 2px solid var(--bg-primary-light);
}

.cd-hero-slider .cd-btn.secondary {
    background-color: rgba(22, 26, 30, .8)
}

.cd-hero-slider .cd-btn:nth-of-type(2) {
    margin-left: 1em
}

.no-touch .cd-hero-slider .cd-btn:hover {
    color: #fff;
    background: var(--bg-primary-light);
    background-color: var(--bg-primary-light);
    transition: ease-in-out .2s;
    border: 2px solid #fff;
}

.no-touch .cd-hero-slider .cd-btn.secondary:hover {
    background-color: #161a1e;
}

@media only screen and (max-width:767px) {
    .cd-hero img,
    .cd-slider-nav {
        display: none;
    }
    .cd-hero-slider .cd-full-width,
    .cd-hero-slider .cd-half-width {
        padding-top: 180px;
    }
    .cd-hero-slider p {
        width: 95%;
        min-height: 200px;
        margin: 0 auto;
        font-size: 1.2em;
        text-align: left;
        color: #333;
        background: rgba(0, 0, 0, 0.4);
        padding: 15px;
        display: flex;
        text-shadow: unset;
        align-items: center;
    }
    .cd-hero-slider h2 {
        margin: 10px 0;
        width: 100%;
        font-size: 20px;
    }
    .cd-hero-slider .cd-btn {
        float: none;
        font-size: 1.1rem;
        background-color: var(--bg-primary-light);
        color: #fff;
        padding: 7px 33px;
        border-radius:  6px;
    }
}

@media only screen and (min-width:768px) {
    .cd-hero-slider .cd-bg-video-wrapper,
    .cd-hero-slider .cd-img-container {
        display: block
    }
    .cd-hero-slider .cd-full-width,
    .cd-hero-slider .cd-half-width {
        padding-top: 200px;
    }
    .cd-hero-slider .cd-half-width {
        width: 45%
    }
    .cd-hero-slider .cd-half-width:first-of-type {
        left: 5%
    }
    .cd-hero-slider .cd-half-width:nth-of-type(2) {
        right: 5%;
        left: auto
    }
    .cd-hero-slider h2,
    .cd-hero-slider p {
        width: 55%;
        font-size: 15px;
        text-shadow: 1px 1px 2px #000000;
    }
    .cd-hero-slider h2 {
        font-size: 1.2em;
        font-weight: 700;
        text-align: left
    }
    .cd-hero-slider .cd-btn {
        font-size: 16px;
        float: none;
        border-radius: 6px;
    }
}

@media only screen and (min-width:1170px) {
    .cd-hero-slider .cd-full-width,
    .cd-hero-slider .cd-half-width {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        max-height: 75vh;
        max-width: 82vw;
        justify-content: center;
        flex-direction: column;
        padding: unset;
        height: 100%;
        position: relative;
        top: 100px;
    }
    .title-main {
        position: absolute;
        width: 100%;
        top: 110px;
    }
    .cd-hero-slider h2,
    .cd-hero-slider p {
        margin: 20px 0;
    }
    .cd-hero-slider h2 {
        font-size: 1.6em
    }
    .cd-hero-slider p {
        font-size: 1.459rem;
        min-height: 90px;
        text-shadow: 1px 1px 2px #000000;
        margin: 20px 0 30px;
        text-align: left;
    }
}

.cd-slider-nav {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 2;
    text-align: center;
    height: 55px;
    background-color: hsla(224, 35%, 19%, 0.44);
    height: 60px;
}

.cd-slider-nav nav {
    display: inline-block;
    position: relative;
    height: 60px;
}

.cd-slider-nav .cd-marker {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 100%;
    color: var(--bg-primary-light);
    background-color: #fff0;
    box-shadow: inset 0 2px 0 currentColor;
    -webkit-transition: -webkit-transform .2s, box-shadow .2s;
    -moz-transition: -moz-transform .2s, box-shadow .2s;
    transition: transform .2s, box-shadow .2s;
}

.cd-slider-nav .cd-marker.item-2 {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%)
}

.cd-slider-nav .cd-marker.item-3 {
    -webkit-transform: translateX(200%);
    -moz-transform: translateX(200%);
    -ms-transform: translateX(200%);
    -o-transform: translateX(200%);
    transform: translateX(200%)
}

.cd-slider-nav .cd-marker.item-4 {
    -webkit-transform: translateX(300%);
    -moz-transform: translateX(300%);
    -ms-transform: translateX(300%);
    -o-transform: translateX(300%);
    transform: translateX(300%)
}

.cd-slider-nav .cd-marker.item-5 {
    -webkit-transform: translateX(400%);
    -moz-transform: translateX(400%);
    -ms-transform: translateX(400%);
    -o-transform: translateX(400%);
    transform: translateX(400%)
}

.cd-slider-nav ul::after {
    clear: both;
    content: "";
    display: table
}

.cd-slider-nav li {
    display: inline-block;
    width: 60px;
    height: 60px;
}

.cd-slider-nav li.selected a {
    color: var(--bg-primary-light);
    height: 60px;
}

.no-touch .cd-slider-nav li.selected a:hover {
    background-color: transparent;
}

.cd-slider-nav a {
    display: block;
    position: relative;
    padding-top: 35px;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    transition: background-color .2s;
    height: 60px;
}

.no-touch .cd-slider-nav a:hover {
    background-color: rgba(0, 1, 1, 0.25);
    height: 60px;
}

.cd-slider-nav li:first-of-type a::before {
    background-position: 0 0
}

.cd-slider-nav li.selected:first-of-type a::before {
    background-position: 0 -24px
}

.cd-slider-nav li:nth-of-type(2) a::before {
    background-position: -24px 0
}

.cd-slider-nav li.selected:nth-of-type(2) a::before {
    background-position: -24px -24px
}

.cd-slider-nav li:nth-of-type(3) a::before {
    background-position: -48px 0
}

.cd-slider-nav li.selected:nth-of-type(3) a::before {
    background-position: -48px -24px
}

.cd-slider-nav li:nth-of-type(4) a::before {
    background-position: -72px 0
}

.cd-slider-nav li.selected:nth-of-type(4) a::before {
    background-position: -72px -24px
}

.cd-slider-nav li:nth-of-type(5) a::before {
    background-position: -96px 0
}

.cd-slider-nav li.selected:nth-of-type(5) a::before {
    background-position: -96px -24px
}

@media only screen and (min-width:768px) {
    .cd-slider-nav {
        height: 60px
    }
    .cd-slider-nav .cd-marker,
    .cd-slider-nav li {
        width: 80px;
    }
    .cd-slider-nav a {
        padding-top: 20px;
        padding-bottom: 6px;
        font-size: 1.1rem;
        text-transform: uppercase;
    }
    .cd-slider-nav a::before {
        top: 18px
    }
}

.cd-main-content {
    width: 90%;
    max-width: 768px;
    margin: 0 auto;
    padding: 2em 0
}

.cd-main-content p {
    font-size: 1.4rem;
    line-height: 1.8;
    color: #999;
    margin: 2em 0
}

@media only screen and (min-width:1170px) {
    .cd-main-content {
        padding: 3em 0
    }
    .cd-main-content p {
        font-size: 1.6rem
    }
}

.no-js .cd-hero-slider li {
    display: none
}

.no-js .cd-hero-slider li.selected {
    display: block
}

.video-mpi {
    display: flex;
    margin: 0 auto;
}


/*Fim slider*/